extends layout

block content
  // Signed in Header
  header.logo-header.main-header
    .logo-container.main-logo-container
      svg.svg-logo(viewbox='0 0 234 27', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        // Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch
        title LogoWords
        desc Created with Sketch.
        defs
        g#Welcome(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', font-size='36', font-family='AvenirNext-Bold, Avenir Next', font-weight='bold')
          g#Mobile-Hero(transform='translate(-40.000000, -27.000000)')
            g#Logo(transform='translate(0.000000, 1.000000)')
              g#LogoWords(transform='translate(41.000000, 16.000000)')
                text#Aero(fill='#C78944')
                  tspan(x='0', y='36') Aero
                text#ME(fill='#FFFFFF')
                  tspan(x='178', y='36') ME
                text#Press(fill='#25B238')
                  tspan(x='85', y='36') Press
    nav.main-nav
      a(href='#') My Recipes
      a(href='/newrecipe') Submit New Recipe
      a(href='/logout') Logout
