extends layout
block navigation
    include ./partials/_firstHeader.pug

block content
  // Login Page
  .login-page
    form.login(action='/', method='post')
      fieldset
        legend Login
        if message.length>0
          h1= message
        label(for='user-email') Email
        input#user-email(type='email', name='email', value='', required='')
        label(for='password') Password
        input#password(type='password', name='password', value='', required='')
        button(type='submit', name='button') Log In
    div.google-login-anchor
      a(href='/auth/google')
        | Login with:
        img#google-login(src='img/google_signin_buttons/web/vector/btn_google_light_normal_ios.svg', alt='google login')
    a(href='/registration') Register
    |  |
    a(href='mailto:resetpassword@AeroPressMe.com') Forgot password?
