extends layout



block content
  include ./partials/_firstHeader.pug
  // Login Page
  .login-page
    form.login(action='/', method='post')
      fieldset
        legend Login
        if message.length>0
          h1= message
        label(for='user-email') Email
        input#user-email(type='email', name='email', value='', required='')
        label(for='password') Password
        input#password(type='password', name='password', value='', required='')
        button(type='submit', name='button') Log In
    a(href='/auth/google')
      | Login or Register with:
      img#google-login(src='img/google_signin_buttons/web/vector/btn_google_light_normal_ios.svg', alt='google login')
    a(href='/registration') Register
    |  |
    a(href='#') Forgot password?
