doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    meta(name='description', content='Share your Aeropress recipes and vote for your favorites.')
    meta(property='og:image', content='aeropress.svg')
    base(href='/')
    link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Montserrat:700" rel="stylesheet")
    if process.env.NODE_ENV == 'production'
      link(rel='stylesheet', href='css/main.min.css')
      link(rel='stylesheet', href='css/normalize.min.css')
    else
      link(rel='stylesheet', href='css/main.css')
      link(rel='stylesheet', href='css/normalize.css')
  body
    block navigation
    block content
