doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title(property='og:title')= title
    meta(name='description', content='AeroPressME! Share your Aeropress recipes and vote for your favorites.', property='og:description')
    meta(property='og:image', content='https://aeropress-me-app.herokuapp.com/img/ogLogo.jpg')
    meta(property='og:image:type' content='image/jpeg')
    meta(property='og:image:width' content='1200')
    meta(property='og:image:height' content='386')
    base(href='/')
    link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
    noscript
      link(href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Montserrat:700" rel="stylesheet")
    if process.env.NODE_ENV == 'production'
      link(rel='stylesheet', href='css/main.min.css')
      link(rel='stylesheet', href='css/normalize.min.css')
    else
      link(rel='stylesheet', href='css/main.css')
      link(rel='stylesheet', href='css/normalize.css')
  body
    block navigation
    block content
    block foot
      script.
        document.addEventListener('DOMContentLoaded', function() {
          document.querySelector('html > head').appendChild((function(){
            const link = document.createElement('link');
            link.setAttribute('href', 'https://fonts.googleapis.com/css?family=Lato:400,700,900%7CMontserrat:700');
            link.setAttribute('rel', 'stylesheet');
            return link
          })());
        })
