extends layout
block navigation
    include ./partials/_firstHeader.pug

block content
  // Login Page
  div.login-page
    form.aero-form(action='/', method='post')
      fieldset
        legend Login
        if message.length>0
          section.flash-alert= message
        label(for='user-email') Email
        input#user-email(type='email', name='email', value='', required='')
        label(for='password') Password
        input#password(type='password', name='password', value='', required='')
        button.aero-btn(type='submit', name='button') Log In
        a.google-login-anchor(href='/auth/google')
          span Login with:&nbsp;
          img#google-login(src='img/google_signin_buttons/web/vector/btn_google_light_normal_ios.svg', alt='google login')
        div.form-links
          a(href='/registration') Register
          |  |&nbsp;
          a(href='mailto:resetpassword@AeroPressMe.com?subject=Password Reset&body=Hi, I forgot my password. Please reset my password.') Forgot password?
