extends layout
block navigation
    include ./partials/_mainHeader.pug

block content
  // Input Page
  div.input-page
    h2 New AeroPress Recipe
    form.aero-form.recipe-form(action='/newrecipe', method='post')
      label(for='input-title') Recipe Title:
      input#input-title(type='text', name='title', maxlength='40')
      label(for='input-author') Recipe Author:
      input#input-author(type='text', name='author', maxlength='25')
      fieldset.orientation-container
        legend Orientation
        div.orientation-radio
          label(for='standard') Standard&nbsp;
          input#standard(type='radio', name='orientation', value='Standard', required='')
        div.orientation-radio
          label(for='inverted') Inverted&nbsp;&nbsp;
          input#inverted(type='radio', name='orientation', value='Inverted', required='')
      fieldset
        legend Mass
        label(for='water') Water (g)
        input#water(type='number', name='massWater', value='', required='', min="0", step=".01")
        label(for='coffee') Coffee (g)
        input#coffee(type='number', name='massCoffee', value='', required='', min="0", step=".01")
      label(for='water-temp') Water temp (&#8451)
      input#water-temp(type='number', name='waterTemp', value='', required='', min="0", step=".01")
      label(for='grind-select') Grind Size
      select#grind-select.grind(name='grind', required='')
        option(selected='', disabled='', hidden='', value='')
        option(value='Extra Coarse') Extra Coarse
        option(value='Coarse') Coarse
        option(value='Medium-Coarse') Medium-Coarse
        option(value='Medium') Medium
        option(value='Medium-Fine') Medium-Fine
        option(value='Fine') Fine
        option(value='Extra Fine') Extra Fine
      label(for='instructions') Instructions
      textarea#instructions(name='instructions', rows='8', cols='40', required='')
      button.aero-btn(type='submit') ☕️ Submit
