extends layout
block navigation
    include ./partials/_firstHeader.pug

block content
  div.registration-page
    form.aero-form(action='/registration', method='post')
      fieldset
        legend Registration Information
        if message.length>0
          h1= message
        label(for='reg-author-first') First Name:
        input#reg-author-first(type='text', name='firstName', value='', required='')
        label(for='reg-author-last') Last Name:
        input#reg-author-last(type='text', name='lastName', value='', required='')
        label(for='reg-email') Email:
        input#reg-email(type='email', name='email', value='', required='')
        label(for='reg-password') Password:
        input#reg-password(type='password', name='password', value='', required='')
        label(for='reg-confirm-password') Confirm Password:
        input#reg-confirm-password(type='password', name='user-confirm-password', value='', required='')
        button.aero-btn(type='submit', name='button') ☕️ Submit
