* {
    box-sizing: border-box;
}

body {
    background: #E8E6E5;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button { display: none !important; }

/****
General Styles
****/

h1, h2, h3, h4, legend, label, span, summary {
    font-family: 'Lato', sans-serif;
    color: #303030;
}

h2 {
    text-align: center;
    font-weight: 900;
}

a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

a:hover {
    color: #25B238;
}

button {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
    background-color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #303030;
    font-weight: bold;
    padding: 0.3em 0.8em;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin-top: 0.625em;
}

button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
    background-color: #f6f6f6;
}

button:active {
    position: relative;
    top: 1px;
}


/****
Form Styles
****/

form {
    margin: .625em auto;
    max-width: 18em;
    text-align: left;
}

input, label {
    display: block;
}

label {
    margin: 0 0 .1875em 0;
    padding: 0;
    font-weight: 700;
}

legend {
    text-align: center;
    font-weight: 700;
}

input {
    background: #fff;
    border: 1px solid #979797;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.50);
    border-radius: 3px;
    margin-bottom: 0.25em;
}

input:focus, input:hover {
    background: #fff;
    border-color: #25B238;
    box-shadow: 0 0 2px 0 rgba(73, 143, 225, 0.70);
}


/****
AeroForm Styles
****/

.aero-form {
    background-color: #f9f9f9;
    padding: 0.625em 0.25em;
    border-radius: 3px;
}

.aero-form fieldset {
    border: none;
}

.aero-form input {
    width: 95%;
    max-width: 18em;
    line-height: 2em;
    margin: 0 auto 0.25em;
}

.aero-btn {
    margin: 0.625em auto 0;
    display: block;
}

.form-links {
    text-align: center;
}


/****
Page Styles
****/

.login-page, .registration-page, .input-page, .recipes-page, .your-recipes-page, .edit-recipe-page {
    text-align: center;
}


/****
Flash Alert Styles
****/

.flash-alert {
  color: #A94442;
  background-color: #F2DEDE;
  border: 1px solid #A94442;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding: 1em;
  margin: 0.625em 0;
  text-align: center;
}


/****
No Recipe Styles
****/

.no-recipes {
  background-color: #fff;
  padding: 2em 1em 2em 1em;
  margin: 1em auto;
  border-radius: 3px;
  max-width: 28em;
  text-align: center;
  font-weight: 700;
}

/****
Header Styles
****/

.logo-container {
    background: #303030;
    text-align: center;
}

.login-header-bar,
.main-header {
    background: #303030;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.svg-logo {
    padding: 0.5em 0.625em;
    width: 70%;
    max-width: 30em;
    min-width: 14em;
}

.login-header-bar .svg-logo {
  padding: 1em 0.625em 0.5em;
  min-width: 20.5em;
}

.login-header-bar .main-nav a {
  font-size: 0.9em;
  font-weight: 700;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-nav a {
    color: #fff;
    padding: 1em;
    font-size: 0.825em;
}

.main-nav a:hover {
    color: #25B238;
}


.hero-container {
    width: 100%;
    height: 30vh;
    min-height: 18em;
    background-image: url("../img/aeropress-hero.jpg");
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-position: 70% 30%;
    color: #fff;
    margin-bottom: 2em;
}

.hero-callout {
    font-size: 1.2em;
    max-width: 20em;
    margin: auto 2em auto auto;
}

.hero-callout>*:first-child {
    font-weight: 900;
    color: #fff;
    display: block;
    overflow-wrap: normal;
    padding-left: .25em;
}



/****
Login Page Styles
****/

.google-login-anchor {
    margin: 2em auto 0.625em;
    background-color: transparent;
    padding: 0.25em;
    width: 11em;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.google-login-anchor span {
    align-self: center;
    color: #303030;
    font-weight: 700;
}

.google-login-anchor span:hover {
    color: #25B238;
}

#google-login {
    width: 2.875em;
    display: inline-block;
}


/****
Recipe Form Styles
****/

.recipe-form {
  max-width: 28em;
  padding: 1em;
}
.recipe-form fieldset {
  padding-left: 0.5em;
  padding-top: 1em;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin: 0.5em auto 0.5em 0;
  width: 90%;
}

.recipe-form legend {
  text-align: left;
}

.recipe-form input {
  width: 90%;
  margin-bottom: 0.5em;
}

.orientation-container {
  display: flex;
  flex-direction: row;
}

.orientation-radio {
  display: flex;
  flex-direction: row;
}

.recipe-form input[type='radio'] {
  box-shadow: none;
}

.recipe-form input[type='number'] {
  width: 6em;
  margin: 0.25em auto 0.625em 1em;
  text-align: right;
}

.recipe-form select {
  margin-left: 1em;
  height: 2em;
  background-color: #fff;
}

.recipe-form label[for='instructions'],
.recipe-form label[for='edit-instructions'] {
  margin-top: 1em;
}

.recipe-form textarea {
  width: 95%;
  margin-left: 0.625em;
  border-radius: 3px;
  border-color: lightgrey;
}

.edit-btn {
  display: inline-block;
  margin: 0.5em;
}



/****
Recipe Card Styles
****/

.recipe-card {
  background-color: #fff;
  padding: 1em 1em 0.5em 1em;
  margin: 1em auto;
  border-radius: 3px;
  max-width: 28em;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.recipe-card:target {
  outline: 3px solid rgba(37,178,56,0.7);
}

.recipe-heading {
  margin-bottom: 1.4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

    .vote-container {
      text-align: center;
      margin-right: 1em;
    }

        .vote-container figure {
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          font-size: 2.25em;
          margin: 0 1rem;
          color: rgba(37,178,56,0.7);
        }

        .vote-container figcaption {
          font-size: 0.75em;
          color: rgba(48,48,48,0.7);
        }

    .title-container {
      align-self: center;
      margin: 0 auto;
    }

        .title-container .recipe-title,
        .title-container .recipe-title a {
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          font-size: 1.5rem;
          margin: 0 auto;
          text-align: center;
          color: inherit;
          text-decoration: none;
        }

        @-moz-document url-prefix() {
          .title-container .recipe-title,
          .title-container .recipe-title a {
            -moz-hyphens: auto;
            hyphens: auto;
            overflow-wrap: break-word;
            word-break: break-all;
            white-space:pre-wrap;
            word-wrap: normal;
            font-size: 4vw;
          }
        }

.info-container h4 {
  color: rgba(48,48,48,0.75);
  margin: 0.5em auto;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
  overflow: hidden;
  max-width: 20em;
}

.info-container span {
  font-weight: 700;
}

.recipe-instructions {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.recipe-instructions summary {
  font-weight: 700;
  color: rgba(48,48,48,0.75);
}

.recipe-instructions p {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  width: 90%;
  margin: 0.625em auto;
  line-height: 1.2;
}

.recipe-card .edit-link {
  margin: 0 auto;
  text-align: center;
  width: 8.4em;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
  background-color: #ffffff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #303030;
  font-weight: bold;
  padding: 0.3em 0.8em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-top: 0.625em;
}

.recipe-card .edit-link:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
  background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
  background-color: #f6f6f6;
}

.recipe-card form {
  margin: 0 auto;
  width: 7em;
}

.recipe-card form button {
  margin: 0;
}

/****
Media Queries
****/



@media only screen and (min-width: 28.75em) {
  form {
      margin: .625em auto;
      width: 75%;
      max-width: 20em;
      text-align: left;
  }

  .svg-logo {
      padding: 1em 2em;
      width: 70%;
      max-width: 30em;
      min-width: 20em;
  }

  .main-nav a {
    font-size: 0.9em;
  }

  .hero-callout {
    font-size: 1.5em;
  }

  .vote-container figure {
    font-size: 4em;
  }

  .title-container .recipe-title,
  .title-container .recipe-title a {
    font-size: 2.2rem;
  }

  .info-container h4 {
    width: 70%;
  }

  .recipe-instructions {
    margin-left: 1em;
  }

  .recipe-instructions p {
    width: 80%;
    font-size: 1em;
  }
}

@media only screen and (min-width: 37em) {
  .login-header-bar {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 61em) {
    .main-nav a {
      font-weight: 700;
      font-size: 1em;
    }

    .logo-container {
        text-align: left;
    }

    .main-header {
        justify-content: space-between;
    }
}

@media only screen and (min-width: 80em) {
    .hero-callout {
        margin-right: 15%;
    }
}

@media only screen and (min-width: 120em) {
    .hero-callout {
        margin-right: 20%;
    }
}
