* {
  box-sizing: border-box;
}

body {
  background: #E8E6E5;
}

h1, h2, h3, h4, legend, label {
  font-family: 'Lato', sans-serif;
  color: #303030;
}

h2 {
  text-align: center;
}

input {
  background: #fff;
  border: 1px solid #979797;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
  border-radius: 3px;
}

input:focus, input:hover {
  background: #fff;
  border: 1px solid #4990E2;
  box-shadow: 0 0 2px 0 rgba(73,143,225,0.70);
  border-radius: 3px;
}



.logo-container {
  margin: 0 auto;
  text-align: center;
  background: #303030;
}

.svg-logo {
  padding: 1em 2em;
  width: 75%;
  max-width: 30em;
}

.hero-container {
  width: 100%;
  height: 30vh;
  min-height: 18em;
  background-image: url("../img/aeropress-hero.jpg");
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-position: 70% 30%;
  color: #fff;
  margin-bottom: 2em;
}


.hero-callout {
  font-size: 1.5em;
  width: 20em;
  margin: auto 2em auto auto;
}

.hero-callout > *:first-child {
  font-weight: 900;
  padding-top: 15%;
  color: #fff;
  display: block;
}


.login-page {
  text-align: center;
}

form {
  margin: 0 auto;
  max-width: 20em;
}


#google-login {
  margin: 0 auto;
  width: 4em;
  display: block;
}


.recipe-card {
  background-color: #fff;
  margin: 1em auto;
  border: 1px solid #979797;
  border-radius: 6px;
  width: 30%;
}



@media only screen and (min-width: 80em) {

  .hero-callout {
    margin-right: 15%;
  }

}

@media only screen and (min-width: 120em) {

  .hero-callout {
    margin-right: 20%;
  }

}









/****
Aeropress SVG stuff

****/


/*.svg-graphic {
  margin: 0 auto;
  width: 6em;
}

.svg-press {
  transition: .7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.svg-graphic:hover .svg-press {
  stroke: black;
}

.svg-graphic:hover .svg-drop {
  stroke-dasharray: .8;
  stroke-dashoffset: 1000;

  animation: offset 5s linear forwards;
}


@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}


@media only screen and (min-width: 40em) {

  .svg-graphic {
    width: 8em;
  }

  .svg-main-width {
    stroke-width: 1.8;
  }

}*/
